<aside class="sidebar">
{{!-- for sidebar --}}
	<div class="widget">
		<h3 class="widget-title">打赏一下</h3>
		<div class="widget-box">
			<div class="give-me-five">
				<img src="//www.qianduan.net/img/give-me-five/da-shang.jpg" alt="">
				<p><a href="//www.qianduan.net/about#promotion" target="_blank">或者买下本站广告位</a></p>
			</div>

		</div>
	</div>
	<div class="widget">
		<h3 class="widget-title">热门文章</h3>
		<div class="widget-box">
			<ul>
				<li><a href="//www.qianduan.net/weui-released-wechat-official-ui-library/" title="WeUI 发布——微信官方UI库" target="_blank">WeUI 发布——微信官方UI库</a></li>
				<li><a href="//www.qianduan.net/zen-coding-a-new-way-to-write-html-code/" title="Zen Coding: 一种快速编写HTML/CSS代码的方法" target="_blank">Zen Coding: 一种快速编写HTML/CSS代码的方法</a></li>
				<li><a href="//www.qianduan.net/qqliu-lan-qi-x5nei-he-wen-ti-hui-zong/" title="QQ浏览器X5内核问题汇总" target="_blank">QQ浏览器X5内核问题汇总</a></li>
				<li><a href="//www.qianduan.net/essential-to-sublime-the-text-2-plugins/" title="一些必不可少的Sublime Text 2插件" target="_blank">一些必不可少的Sublime Text 2插件</a></li>
				<li><a href="//www.qianduan.net/high-performance-css3-animations/" title="高性能 CSS3 动画" target="_blank">高性能 CSS3 动画</a></li>
				<li><a href="//www.qianduan.net/task-master-gulp-lint/" title="[Task Master] gulp-lint" target="_blank">[Task Master] gulp-lint</a></li>
				<li><a href="//www.qianduan.net/qianduan-redesign/" title="前端观察又改版" target="_blank">前端观察又改版</a></li>
				<li><a href="//www.qianduan.net/meta-tags-list/" title="meta标签常用属性整理" target="_blank">meta标签常用属性整理</a></li>
				<li><a href="//www.qianduan.net/html5-differences-in-the-div-section-article/" title="HTML5 中 div section article 的区别" target="_blank">HTML5 中 div section article 的区别</a></li>
				<li><a href="//www.qianduan.net/free-html5-css3-loaders-preloaders/">HTML5+CSS3 loading 效果收集</a></li>
			</ul>
		</div>
	</div>
</aside>
